/* Добавьте эти стили в App.css */

.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #1E90FF; /* Синий цвет шапки */
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px; /* Размер логотипа */
  margin-right: 20px;
}

.welcome-container {
  padding: 20px;
}

.login-container, .welcome-container {
  margin-top: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  width: 200px;
}

.submit-btn {
  background-color: #1E90FF; /* Кнопка синего цвета */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4682B4;
}

.error {
  color: red;
  font-weight: bold;
}

.command-form {
  margin-top: 20px; /* Отступ сверху для формы команд */
}

.command-result {
  background-color: #f0f8ff; /* Светлый фон для результата команды */
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  white-space: pre-wrap; /* Чтобы сохранять пробелы и переносы строк */
}
